<%-include('./partials/head')%>
<body>
    <main>
    <div class="navigation">
    <%-include('./partials/navigation1')%>
    <div id="vector" ><img src="Vector.png" alt=""></div>
    <%-include('./partials/navigation2')%>
    </div>
    <%-include('./partials/hero')%>
    </main>
    <%-include('./partials/footer')%>
</body>
</html>