<%-include('./partials/head')%>

<body>
    <main>
        <div class="navigation">
            <%-include('./partials/navigation1')%>
            <div id="vector"><img src="Vector.png" alt=""></div>
            <%-include('./partials/navigation2')%>
        </div>
        <%-include('./partials/hero')%>
    </main>
    <section id="booking">
        <h1>BOOK A TABLE</h1>
        <span id="yellow_line"></span>
        <div id="booking_frame">
            <form id="form_container" action="">
                <input placeholder="Name" type="text" name="" id="name">
                <input placeholder="Phone" type="text" name="" id="phone">
                <input placeholder="Date(mm/dd)" type="text" name="" id="date">
            <input placeholder="Email" type="text" name="" id="email">
                <select name="" id="people">
                    <option value="people">People</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="more">more</option>
                </select>
                <select name="" id="time">
                    <option value="time">Time</option>
                    <option value="18:00">18:00</option>
                    <option value="18:30">18:30</option>
                    <option value="19:00">19:00</option>
                    <option value="19:30">19:30</option>
                    <option value="20:00">20:00</option>
                    <option value="20:30">20:30</option>
                    <option value="21:00">21:00</option>
                    <option value="other">other</option>
                </select>
                <input type="submit" value="Book now">
            </form>
            <img src="booking_img.png" alt="">
            </div>
        <p>Mon - Fri: <strong>8PM - 10PM</strong>, Sat - Sun: <strong>8PM - 3AM</strong>, Phone: <strong>+40 729 131 637/+40 726
                458 782</strong></p>
    </section>
    <%-include('./partials/footer')%>
</body>

</html>