<%-include('./partials/head')%>
<body>
    <main>
    <div class="navigation">
    <%-include('./partials/navigation1')%>
    <div id="vector" ><img src="Vector.png" alt=""></div>
    <%-include('./partials/navigation2')%>
    </div>
    <%-include('./partials/hero')%>
    </main>
    <section id="contact">
        <article>
            <h1>CONTACT</h1>
            <span id="yellow_line"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
        </article>
        <form action="/new" method="POST">
            <input placeholder="Name" type="text" name="name" id="">
            <input placeholder="Email" type="email" name="email" id="">
            <input placeholder="Phone" type="number" name="phone" id="">
            <textarea placeholder="Message" name="message" id="" cols="30" rows="10"></textarea>
            <img src="details.png" alt="">
            <input type="submit" value="SEND MESSAGE">
        </form>
        <img src="map.png" alt="">
    </section>
   
    <%-include('./partials/footer')%>
</body>
</html>