<%-include('./partials/head')%>

<body>
    <main>
        <div class="navigation">
            <%-include('./partials/navigation1')%>
            <div id="vector"><img src="Vector.png" alt=""></div>
            <%-include('./partials/navigation2')%>
        </div>
        <%-include('./partials/hero')%>
    </main>
    <section id="events_bg">
        <h1>PRIVATE EVENTS</h1>
        <article>
            <img src="events1.png" alt="">
            <img src="events2.png" alt="">
        </article>
        <p>Mon - Fri: <strong>8PM - 10PM</strong>, Sat - Sun: <strong>8PM - 3AM</strong>, Phone: <strong>+40 729 131 637/+40 726
                458 782</strong></p>
    </section>
    <%-include('./partials/footer')%>
</body>

</html>