<%-include('./partials/head')%>

<body>
    <main>
        <div class="navigation">
            <%-include('./partials/navigation1')%>
            <div id="vector"><img src="Vector.png" alt=""></div>
            <%-include('./partials/navigation2')%>
        </div>
        <%-include('./partials/hero')%>
    </main>
    <section id="galerie">
        <h1>SPECIALITIES</h1>
    </section>
    <%-include('./partials/footer')%>
</body>

</html>